<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/skin_/main.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/jquery.dialog.css}" />
    <script type="text/javascript" th:src="@{/static/js/jquery/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/global.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/core.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/plugins/jquery.dialog.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/widget/index/home.js}"></script>
    <title>home</title>
</head>

<body>
<div id="container">
    <div id="hd">
        <div class="hd-top">
            <h1 class="logo"></h1>
            <div class="user-info">
                <a href="javascript:;" class="user-avatar"><span><i class="info-num">2</i></span></a>
                <span class="user-name" th:text="${sysUser.name}">admin</span>
                <a href="javascript:;" class="more-info"></a>
            </div>
            <div class="setting ue-clear">
                <div class="setting-skin">
                    <div class="switch-bar">
                        <i class="skin-icon"></i>
                        <span class="text">皮肤</span>
                        <i class="arrow-icon"></i>
                    </div>
                </div>
                <ul class="setting-main ue-clear">
                    <li><a href="javascript:;">桌面</a></li>
                    <li><a href="javascript:;">设置</a></li>
                    <li><a href="javascript:;">帮助</a></li>
                    <li><a href="javascript:;" class="close-btn exit"></a></li>
                </ul>
            </div>
        </div>
        <div class="hd-bottom">
            <i class="home"><a href="javascript:;"></a></i>
            <div class="nav-wrap">
                <ul class="nav ue-clear">
                    <li th:each="menuList : ${parentList}"><a th:href="'/index/content?id='+${menuList.id}+'&amp;name='+${menuList.name}" target="main_iframe" th:text="${menuList.name}">平台管理</a></li>
                </ul>
            </div>
            <div class="nav-btn">
                <a href="javascript:;" class="nav-prev-btn"></a>
                <a href="javascript:;" class="nav-next-btn"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <iframe width="100%" height="100%" name="main_iframe" src="/index/content" frameborder="0"></iframe>
    </div>

    <div id="ft" class="ue-clear">
        <div class="ft1 ue-clear">
            <i class="ft-icon1"></i>
            <span>数字管理系统</span>
            <em>Digital Pertal</em>
        </div>
        <div class="ft2 ue-clear">
            <span>Call Center</span>
            <em>V2.0 2014</em>
            <i class="ft-icon2"></i>
        </div>
    </div>
</div>

<div class="exitDialog">
    <div class="content">
        <div class="ui-dialog-icon"></div>
        <div class="ui-dialog-text">
            <p class="dialog-content">你确定要退出系统？</p>
            <p class="tips">如果是请点击“确定”，否则点“取消”</p>
            <form th:action="@{/logout}" id="logout">
                <div class="buttons">
                    <input type="submit" class="button long2 ok" value="确定" />
                    <input type="button" class="button long2 normal" value="取消" />
                </div>
            </form>
        </div>

    </div>
</div>

<div class="opt-panel user-opt" style="top:52px;left:330px;">
    <ul>
        <li><a class="text">用户资料</a></li>
        <li><a class="text">短消息<span class="num">(2)</span></a></li>
        <li><a class="text">资料信息</a></li>
        <li><a class="text">注销</a></li>
        <li><a class="text">自定义</a></li>
    </ul>
    <div class="opt-panel-tl"></div>
    <div class="opt-panel-tc"></div>
    <div class="opt-panel-tr"></div>
    <div class="opt-panel-ml"></div>
    <div class="opt-panel-mr"></div>
    <div class="opt-panel-bl"></div>
    <div class="opt-panel-bc"></div>
    <div class="opt-panel-br"></div>
    <div class="opt-panel-arrow"></div>
</div>

<div class="opt-panel skin-opt" style="top:36px;right:157px;">
    <ul class="ue-clear">
        <li attr-color="#0f8dc7"></li>
        <li attr-color="#1ea4a9"></li>
        <li attr-color="#eb7f00"></li>
        <li attr-color="#ed0f04"></li>
        <li attr-color="#f24b39"></li>
        <li attr-color="#ed0f04"></li>
        <li attr-color="#eb7f00"></li>
        <li attr-color="#ed0f04"></li>
        <li attr-color="#1ea4a9"></li>
    </ul>
    <div class="opt-panel-ml"></div>
    <div class="opt-panel-mr"></div>
    <div class="opt-panel-bl"></div>
    <div class="opt-panel-bc"></div>
    <div class="opt-panel-br"></div>
</div>
</body>
<script type="text/javascript">
    jQuery("#bd").height(jQuery(window).height()-jQuery("#hd").outerHeight()-26);
    jQuery(window).resize(function(e) {
        jQuery("#bd").height(jQuery(window).height()-jQuery("#hd").outerHeight()-26);
    });
    jQuery('.exitDialog').Dialog({
        title:'提示信息',
        autoOpen: false,
        width:400,
        height:200
    });
    jQuery('.exit').click(function(){
        jQuery('.exitDialog').Dialog('open');
    });
    jQuery('.exitDialog input[type=button]').click(function(e) {
        jQuery('.exitDialog').Dialog('close');

        if(jQuery(this).hasClass('ok')){
            window.location.href = "login.html";
        }
    });
    initMU();
</script>
</html>