<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjhxqh.mapper.SysButtonsMapper">
  <resultMap id="BaseResultMap" type="com.bjhxqh.model.po.SysButtons">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="event" jdbcType="VARCHAR" property="event" />
    <result column="iconclass" jdbcType="VARCHAR" property="iconclass" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="btnorder" jdbcType="INTEGER" property="btnorder" />
  </resultMap>
</mapper>